<accordion-custom>
    <details class="appearance-none">
        <summary class="appearance-none">{{ title }}</summary>
        <div class="content">
            {{ content }}
        </div>
    </details>
</accordion-custom>