@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/variants";
@import "animate.compat.css";

:root {
  --safe-area-inset-top: env(safe-area-inset-top, 20px);
  --safe-area-inset-right: env(safe-area-inset-right, 20px);
  --safe-area-inset-bottom: env(safe-area-inset-bottom, 50px);
  --safe-area-inset-left: env(safe-area-inset-left, 20px);
}
html,body{
  width: 100%;
}
    .tw-grid {
        display: grid!important;
    }
.fit {
  min-height: calc(100vh - calc(var(--header-height)));
}
.text-effect-1 {
  @apply inline-flex overflow-hidden relative cursor-pointer;
}
.text-effect-1:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  opacity: 0.5;
  border-bottom: 0.12em solid currentColor;
  transition: width 0.3s, color 0.3s;
}
.text-effect-1:hover:after {
  @apply text-current;
  width: 100%;
  left: 0;
}
.text-effect-1.text-effect-1_active:after {
  @apply text-current;
  border-color: var(--primary-2);
  width: 100%;
  left: 0;
}
